.app {
  text-align: center;
  background-color: #5865F2;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-content {
  max-width: 600px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  float: left;
  gap: 10px;

}

.img {
 flex: 1;
 display: flex;
 justify-content: right;
 align-items: right;
}